{% extends "layout.html" %}

{% block title %}
Top Tracks
{% endblock %}


{% block body %}

<center>
	<h1>Your Top Tracks</h1>
	<form action="{{ url_for('get_all_tracks') }}", method='post'>
		<input type='submit' name='submit_button' value="Last Month" class='time_period'>
		<input type='submit' name='submit_button' value="Last 6 Months" class='time_period'>
		<input type='submit' name='submit_button' value="All Time" class='time_period'>
	</form>
</center>

<center>
	<table>
	    <tbody>
			{% for row in row_data %}		
			    <tr>
			    	<td><img src={{album_covers[loop.index0]}}></td>
			    	<td>
			    		<a class = 'title' href={{urls[loop.index0]}}>{{track_titles[loop.index0]}}</a>
				    	{% for col, row_ in zip(column_names, row) %}
				    		<h3>{{row_}}</h3>
				    	{% endfor %}
			    	</td>
			    </tr>
		    {% endfor %}
		</tbody>
	</table>
</center>

<style type="text/css">
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 50%;
	}

	td, th {
	    border: 0px solid #dddddd;
	    text-align: center;
	    padding: 8px;
	}

	tr:nth-child(even) {
	    background-color: #dddddd;
	}

	.title {
		font-size: 25px;
		color: green;
	}

	.time_period {
		background-color: #4CAF50;
			border: none;
			color: white;
			padding: 16px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			transition-duration: 0.4s;
			cursor: pointer;
			background-color: white; 
			color: black; 
			border: 2px solid #4CAF50;
			width: 180px;
	}

	.time_period[type='submit']:hover {
		  	background-color: #4CAF50;
		  	color: white;
	}
</style>

{% endblock %}